@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

ion-badge {
  vertical-align: middle;
}

* {
  text-transform: none;
}

ion-card {
  text-align: left;

  ion-card-subtitle {
    white-space: normal;
  }
}

ion-footer {
  background-color: #fff;
}

ion-content > *,
ion-footer > * {
  max-width: 600px;
  margin: auto;
}

ion-split-pane {
  --border: 0;
}

ion-radio-group {
  --ion-background-color: transparent;
}

ion-content {
  --background: #f5f5f5;
  --color: #2e4346;

  &.register {
    text-align: center;

    > div {
      display: flex;
      align-items: center;
      min-height: 100%;

      > div {
        flex: 1 1 100%;
        max-width: 100%;
      }
    }

    &.light-gradient {
      --background: linear-gradient(#fff, #d9d9d9);
    }

    ion-button {
      --ion-color-light: #fff;
    }
  }

  ion-menu & {
    --background: #fff;
  }
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-hint {
  margin-top: 32px;
  border: 1px solid currentColor;
  padding: 16px;
  text-align: center;
  position: relative;
  color: var(--ion-color-medium);

  &.arrow-top::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid currentColor;
    border-width: 1px 1px 0 0;
    background-color: #f4f4f4;
    bottom: 100%;
    left: 50%;
    transform: rotate(-45deg);
    margin-bottom: -8px;
    margin-left: -8px;
  }

  &.arrow-bottom::after {
    transform: rotate(135deg);
    bottom: 0;
    margin-bottom: 0;
    top: 100%;
    margin-top: -8px;
  }
}

ion-slides.custom-slider {
  height: 100vh;
  max-height: 100%;

  ion-slide > div {
    width: 100%;
    overflow: auto;
    max-height: 100%;
  }
}

.section {
  margin-bottom: 32px;
  text-align: center;

  &:last-of-type {
    margin-top: 10vh;
    margin-bottom: 0;
  }
}

ion-slide ion-avatar,
ion-slide ion-fab-button {
  margin: auto;
}

ion-alert {
  --width: 90% !important;
  --max-width: 600px !important;
}

div.addressForm ion-item {
  border: 1px solid currentColor;
  border-radius: 4px;
  margin-bottom: 8px;

  --full-highlight-height: 0;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

ion-toast {
  --border-width: 5px 0 0 0;
  --border-style: solid;
  --color: var(--ion-color-dark);

  &.success {
    --background: var(--ion-color-success-tint);
    --border-color: var(--ion-color-success);
  }

  &.error {
    --background: var(--ion-color-danger-tint);
    --border-color: var(--ion-color-danger);
  }
}

.price-alert .alert-input-wrapper {
  position: relative;

  &::after {
    content: '€';
    position: absolute;
    right: 0;
    line-height: 100%;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }
}

.ios ion-card-title {
  font-size: 20px;
}

.placeholder {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr auto;

  > * {
    &[style*='background-image'] {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:last-child:not(:only-child) {
      align-self: flex-end;
      text-align: center;
    }
  }
}
