:root {
  --ion-font-family: 'Open Sans', 'sans-serif';
  --ion-color-primary: #528b94;
  --ion-color-primary-rgb: 82, 139, 148;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #487a82;
  --ion-color-primary-tint: #63979f;
  --ion-color-secondary: #71c0cc;
  --ion-color-secondary-rgb: 113, 192, 204;
  --ion-color-secondary-contrast: #000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #63a9b4;
  --ion-color-secondary-tint: #7fc6d1;
  --ion-color-success: #7dae2e;
  --ion-color-success-rgb: 125, 174, 46;
  --ion-color-success-contrast: #000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #6e9928;
  --ion-color-success-tint: #deebcb;
  --ion-color-warning: #f5a623;
  --ion-color-warning-rgb: 245, 166, 35;
  --ion-color-warning-contrast: #000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #d8921f;
  --ion-color-warning-tint: #f6af39;
  --ion-color-danger: #d0021b;
  --ion-color-danger-rgb: 208, 2, 27;
  --ion-color-danger-contrast: #fff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #b70218;
  --ion-color-danger-tint: #f3c0c6;
  --ion-color-dark: #2e4346;
  --ion-color-dark-rgb: 46, 67, 70;
  --ion-color-dark-contrast: #fff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #283b3e;
  --ion-color-dark-tint: #435659;
  --ion-color-medium: #4e5051;
  --ion-color-medium-rgb: 78, 80, 81;
  --ion-color-medium-contrast: #fff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #454647;
  --ion-color-medium-tint: #606262;
  --ion-color-light: #f5f5f5;
  --ion-color-light-rgb: 245, 245, 245;
  --ion-color-light-contrast: #000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d8d8d8;
  --ion-color-light-tint: #f6f6f6;
}
